<div class="center hero-unit">
  <% provide(:title, 'NFL Teams Home Page') %>

  <h1>Click on Any Team</h1>
  <h2>
    The <a href="http://www.nfl.com/">National Football League</a>
    is undoubtedly the greatest football league in the world.
    The current defending Superbowl Champions are the <a href=teams/nyg>New York Giants</a>.
  </h2>
</div>

<%= link_to image_tag("nyg.png", alt: "NFL"), 'http://www.giants.com/' %>


<h3>
  NFC West:
</h3>
<h4>
  <a href=teams/ari>Arizona Cardinals</a>
</h4>
<h4>
  <a href=sf>San Francisco 49ers</a>
</h4>
<h4>
  <a href=sea>Seattle Seahawks</a>
</h4>
<h4>
  <a href=stl>St. Louis Rams</a>
</h4>

<h3>
  NFC North:
</h3>
<h4>
  <a href=chi>Chicago Bears</a>
</h4>
<h4>
  <a href=det>Detroit Lions</a>
</h4>
<h4>
  <a href=gb>Green Bay Packers</a>
</h4>
<h4>
  <a href=min>Minnesota Vikings</a>
</h4>

<h3>
  NFC South:
</h3>
<h4>
  <a href=atl>Atlanta Falcons</a>
</h4>
<h4>
  <a href=car>Carolina Panthers</a>
</h4>
<h4>
  <a href=no>New Orleans Saints</a>
</h4>
<h4>
  <a href=tb>Tampa Bay Buccaneers</a>
</h4>

<h3>
  NFC East:
</h3>
<h4>
  <a href=dal>Dallas Cowboys</a>
</h4>
<h4>
  <a href=nyg>New York Giants</a>
</h4>
<h4>
  <a href=phi>Philadelphia Eagles</a>
</h4>
<h4>
  <a href=was>Washington Redskins</a>
</h4>

<h3>
  AFC West:
</h3>
<h4>
  <a href=den>Denver Broncos</a>
</h4>
<h4>
  <a href=kc>Kansas City Chiefs</a>
</h4>
<h4>
  <a href=oak>Oakland Raiders</a>
</h4>
<h4>
  <a href=sd>San Diego Chargers</a>
</h4>

<h3>
  AFC North:
</h3>
<h4>
  <a href=bal>Baltimore Ravens</a>
</h4>
<h4>
  <a href=cin>Cincinnati Bengals</a>
</h4>
<h4>
  <a href=cle>Cleveland Browns</a>
</h4>
<h4>
  <a href=pit>Pittsburgh Steelers</a>
</h4>

<h3>
  AFC South:
</h3>
<h4>
  <a href=hou>Houston Texans</a>
</h4>
<h4>
  <a href=ind>Indianapolis Colts</a>
</h4>
<h4>
  <a href=jac>Jacksonville Jaguars</a>
</h4>
<h4>
  <a href=ten>Tennessee Titans</a>
</h4>

<h3>
  AFC East:
</h3>
<h4>
  <a href=buf>Buffalo Bills</a>
</h4>
<h4>
  <a href=mia>Miami Dolphins</a>
</h4>
<h4>
  <a href=ne>New England Patriots</a>
</h4>
<h4>
  <a href=nyj>New York Jets</a>
</h4>