<% provide(:title, 'Arizona Cardinals') %>
<h1>NFC West</h1>
<p>
  The <a href="http://www.azcardinals.com/">Arizona Cardinals</a>
  are a team in the National Football League.  They play in the NFC West Division
  and make their home in Glendale, Arizona at University of Phoenix Stadium.
  They are coached by Ken Whisenhunt.
</p>