<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  The <a href="http://www.nfl.com/">National Football League</a>
  holds trademarks to all team nicknames and logos.
  Please contact Adam Olshansky for more information for this site.
</p>
